[Unit]
Description=Shibboleth Identity Provider
After=syslog.target network.target mariadb.target

[Service]
ExecStart=/bin/bash -c "/opt/jetty/current/bin/jetty.sh start"
ExecStop=/bin/bash -c "/opt/jetty/current/bin/jetty.sh stop"
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
