ansible_hosts
passwords
host_vars/*
!host_vars/idp.example.edu.dist.production
!host_vars/idp.example.edu.dist.test
assets/*
!assets/idp.example.edu.dist
.vagrant
Vagrantfile
vagrant_id_rsa
**/*.swp
.idea/
.DS_Store
