<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Shibboleth IdP Installer by ausaccessfed</title>

  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header>

    <br/>
    Navigation 
    <ol>
      <li>
        <a href="{{site.baseurl}}/about">Overview</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about/release.html">Release notes</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about/version.html">Current version</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about/previous-versions.html">Pervious versions</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about/number-scheme.html">Version numbering</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/about/feedback.html">Feedback</a>
      </li>
    </ol>

    <br/>

    <a href="{{site.baseurl}}/">AAF IdP Installer Home</a>
    
    <br/>
    <br/>

    Developed at
    <a href="https://www.aaf.edu.au"><img src="/shibboleth-idp-installer/aaf.png" alt="AAF Logo"></a>

    <br><br>

    Open Source code hosted at
    <a href="https://github.com/ausaccessfed/shibboleth-idp-installer"><img src="/shibboleth-idp-installer/github_logo.jpg" alt="Github Logo"></a>

  </header>
  <section>
    {{ content }}
  </section>
</div>
<script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
<script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>

</body>
</html>
