<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Shibboleth IdP Installer by ausaccessfed</title>

  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header>
    <h1>Shibboleth IdP Installer</h1>

    <ul>
      <li>
        <a href="{{site.baseurl}}/index.html">Overview</a>
        {% if page.url == "/index.html" %} <div id="toc"></div> {% endif %}
      </li>
      <li>
        <a href="{{site.baseurl}}/installation.html">Installation</a>
        {% if page.url == "/installation.html" %} <div id="toc"></div> {% endif %}
      </li>
    </ul>
    <br/>
    <br/>
    <p>This project is maintained by <a href="https://github.com/ausaccessfed">ausaccessfed</a>
    </p>

    <p class="view"><a href="https://github.com/ausaccessfed/shibboleth-idp-installer">View the
      Project on GitHub
      <small>ausaccessfed/shibboleth-idp-installer</small>
    </a>
    </p>

  </header>
  <section>
    {{ content }}
  </section>
</div>
<script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="{{site.baseurl}}/javascripts/toc.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $('#toc').toc({ listType: 'ul',
                    headers: 'h1, h2',
                    showEffect: 'slideDown',
                    minimumHeaders: 2 });
  });
</script>

</body>
</html>
