<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <title>Shibboleth IdP Installer by ausaccessfed</title>

  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/pygment_trac.css">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, user-scalable=no">
  <!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="wrapper">
  <header>

    <br/>
    Navigation
    <ol>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/index.html">Overview</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/strategy-planning.html">Strategy and Planning</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/server-setup.html">Server preparation</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/config-and-data.html">Migrating config and data</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/testing.html">Testing</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/go-live.html">Go Live</a>
      </li>
      <li>
        <a href="{{site.baseurl}}/upgradefromv2/upgrade-maintenance.html">Upgrade and maintenance</a>
      </li>
    </ol>

    <br/>

    <a href="{{site.baseurl}}/">AAF IdP Installer Home</a>
    
    <br/>
    <br/>

    Developed at
    <a href="https://www.aaf.edu.au"><img src="/shibboleth-idp-installer/aaf.png" alt="AAF Logo"></a>

    <br><br>

    Open Source code hosted at
    <a href="https://github.com/ausaccessfed/shibboleth-idp-installer"><img src="/shibboleth-idp-installer/github_logo.jpg" alt="Github Logo"></a>

  </header>
  <section>
    {{ content }}
  </section>
</div>
<script src="{{site.baseurl}}/javascripts/scale.fix.js"></script>
<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

</body>
</html>
